* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
    height: 100%;
    background-color: $background-body-color;
}

.main {
    padding: 1em 2em;
    border-radius: 8px;
    background-color: $background-main-color;
    margin-bottom: 1em;

    img {
        filter: $image-filter;
    }
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

.color-palette {
    height: 50px;
    width: 50px;
}

.table-palette {
    border-spacing: 4px;
    border-collapse: separate;
    padding-bottom: 1em;
}

@media (max-width: 60em) {
    body {
        width: 90%;
    }
}

@media (max-width: 40em) {
    body {
        width: 95%;
    }

    .main {
        padding: 0.5em;
    }

}
