.footer {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: $background-footer-color;
    padding: 1.5em;
    border-radius: 8px;
}

.footer a {
    color: $link-color;
}

.footer p {
    margin: 0;
}

.footer .social {
    font-size: 2rem;
}

.social a {
    text-decoration: none;
}

@media (max-width: 40em) {
    .footer {
        flex-direction: column;
        justify-content: center;
    }
}
