.header {
    flex: 0 0 auto;
}

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 0.5em 0;
    margin-right: 0.5em;
}

@media (max-width: 40em) {
    .logo {
        max-width: 80%;
    }
}
