@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'typography';
@import 'header';
@import 'footer';
@import 'code';
@import 'blockquotes';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

.main {
    flex: 1 0 auto;
    padding: 1em;
    border-radius: 8px;
    background-color: $background-main-color;
    margin-bottom: 1em;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}