.tech-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: fit-content(195px) minmax(70%, auto);
    grid-gap: 1em;
}

.tech-nav {
    border-radius: 8px;
    background-color: $background-footer-color;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;

    a {
        text-decoration: none;
    }
}

.tech-nav ul {
    list-style-type: none;
    padding: 0;

    li {
        padding: 0.25em 1em;
        text-align: left;
    }

    li:hover {
        background-color: $background-hover-technav-color;
        cursor: pointer;
        font-weight: bold;
        color: $font-technav-color;
    }
}

@media (max-width: 40em) {
    .tech-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em 0;
    }

    .tech-page {
        grid-row: 1;
    }

    .tech-nav {
        display: none !important; 
    } 
}
