.tech-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
}

.tech-nav {
    grid-column: span 1;
    border-radius: 8px;
    background-color: $background-footer-color;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;

    a {
        text-decoration: none;
    }
    
    a:hover {
        color: $font-alternative-color;
    }
}

.tech-nav ul {
    list-style-type: none;
    padding: 0;

    li {
        border-radius: 8px;
        padding: 0.25em 1em;
    }

    li:hover {
        background-color: $background-hover-nav-color;
        cursor: pointer;
        color: $font-alternative-color;
        font-weight: bold;
    }
}

.tech-page {
    grid-column: span 5;
}

@media (max-width: 40em) {
    .tech-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em 0;
    }

    .tech-page {
        grid-row: 1;
    }

    .tech-nav {
        display: none !important; 
    } 
}
