* {
    color: $font-color;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 100%;
}

body {
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.6em;
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    font-size: 1em;
    margin-bottom: 1.75rem; /* 1.75 * 1em vår baseline */
}

@media (max-width: 40em) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    p {
        text-align: left;
    }
}
