$font-color: #000;
$font-alternative-color: #fff;
$link-color: #222;
$background-main-color: rgb(255, 210, 232);
$background-footer-color: rgb(255, 183, 183);
$background-hover-nav-color: rgb(255, 157, 157);
